<!DOCTYPE html>
<html lang= "en">

<head>
  <meta charset= "UTF-8">
  <meta  name="viewport" content= "width=device-width, intial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content=" ie=edge">
  <link rel= "stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css">
  <link rel= "stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <title>Info Page</title>
</head>
<body>
  <div class="container">
    <section class="hero is-warning">
      <section class="hero-body">
        <h1 class="title">Active Shooter Response</h1>
        <h1 class="subtitle">Learn how to survive a shooting event</h1>
      </section>
    </section>

      <section class="hero is-danger">
        <section class="hero-head has-text-centered">
            <h1 class="title">Run</h1>
        </section>
        <section class="hero-body">
          <div class="columns">
          <div class="column">
          <p class="content is-medium">1.  Plan an escape route</p>
          <p class="content is-medium">2.  Leave your belongings</p>
          <p class="content is-medium">3.  Help others escape, if possible</p>
          <p class="content is-medium">4.  Don't attempt to move the wounded</p>
          <p class="content is-medium">5.  Call 911 when in a safe area</p>
        </div>
        <div class="column"></div>
        <div class="column">
        <figure class="image is-128x128 is-centered">
          <img src="images/run.png">
        </figure>
      </div>
      </div>
        </section>
      </section>

    <section class="hero is-info">
      <section class="hero-head has-text-centered">
          <h1 class="title">Hide</h1>
      </section>
      <section class="hero-body">
        <div class="columns">
        <div class="column">
        <p class="content is-medium">1.  Stay away from the shooters view</p>
        <p class="content is-medium">2.  Lock doors and barracade with furniture </p>
        <p class="content is-medium">3.  Keep your options for mobility</p>
        <p class="content is-medium">4.  Silence phone</p>
        <p class="content is-medium">5.  Be quiet </p>
      </div>
      <div class="column"></div>
      <div class="column">
      <figure class="image is-128x128 is-centered">
        <img src="images/hide.svg">
      </figure>
    </div>
    </div>
      </section>
    </section>

    <section class="hero is-success">
      <section class="hero-head has-text-centered">
        <h1 class="title">Fight</h1>
        <h2 class="subtitle">Fight Only as a Last Resort. Be Prepared</h1>
      </section>
      <section class="hero-body">
        <div class="columns">
        <div class="column">
        <p class="content is-medium">1.  Act with lots of aggression and commit to your actions</p>
        <p class="content is-medium">2.  Incapacitate the active shooter </p>
        <p class="content is-medium">3.  Throw objects at the shooter if possible</p>
        <p class="content is-medium">4.  Silence phone</p>
        <p class="content is-medium">5.  Yell and cry for help</p>
      </div>
      <div class="column"></div>
      <div class="column">
      <figure class="image is-128x128 is-centered">
        <img src="images/fight.png">
      </figure>
    </div>
    </div>
      </section>
    </section>


  </div>
</body>
</html>
